:root {
    --gray900: #44475b;
    --gray800: #696c7c;
    --gray700: #7c7e8c;
    --gray600: #8f919d;
    --gray500: #a1a3ad;
    --gray400: #b0b2ba;
    --gray300: #c7c8ce;
    --gray200: #dddee1;
    --gray150: #e9e9eb;
    --gray100: #f0f0f2;
    --gray50: #f8f8f8;
    --green500: #00b386;
    --green300: #66e3c4;
    --green100: #ebf9f5;
    --purple500: #5367ff;
    --purple300: #84a4ff;
    --purple100: #eef0ff;
    --yellow500: #ffb61b;
    --yellow100: #fff5e0;
    --red500: #eb5b3c;
    --red100: #fae9e5;
    --tempBg: #fff;
    --tempCardBg: #fff;
    --tempBoxShadow: rgba(0, 0, 0, .1);

    --black: #121212;
    --white: #fff;
    --tempTransparent: transparent;
    --tempHalfTransparent: rgba(0,0,0,.5);

    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-22: 1.375rem;
    --font-size-24: 1.5rem;
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-40: 2.5rem;
    --font-size-44: 2.75rem;
    --font-size-56: 3.5rem;
    --font-weight-regular: 435;
    --font-weight-medium: 535;
    --font-weight-bold: 660;

    --zindex10001: 10001;
    --zindex900: 900;
    --zindex800: 800;
    --zindex700: 700;
    --zindex600: 600;
    --zindex500: 500;
    --zindex400: 400;
    --zindex300: 300;
    --zindex1: -1;
}

